.App {
  text-align: center;
}
.nav-bar{
  display: flex;
  justify-content: space-around;
  font-size: 24px;

}
.mountainList{
  text-align: center;
  

}
.allMtns{
  margin: 10px;
  

}
.mtntitle{
  margin: 10px;

}
.singleMtn{
  border: 1px solid black;
}
