/* Colors
black rgba(11, 13, 16, 1)
navy: rgba(31, 40, 51, .8) 
grey: rgba(199, 202, 205, 1)
cyan: rgba(102, 252, 241, 1)
teal: rgba(70, 162, 159, 1)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Open+Sans&display=swap");
html {
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
  border-left: 1px solid rgba(70, 162, 159, 1);
  border-right: 1px solid rgba(70, 162, 159, 1);
  background-image: radial-gradient(
    farthest-corner at 0px 0px,
    rgba(31, 40, 51, 0.8),
    0.02%,
    rgba(11, 13, 16, 1)
  );
}
.App {
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  color: rgba(199, 202, 205, 1);
  
}
.title {
  font-family: "Electrolize", sans-serif;
  text-align: right;
  color: rgba(102, 252, 241, 1);
}
.title:hover {
  text-decoration: none;
  color: rgba(70, 162, 159, 1);
}
a.Link {
  text-decoration: none;
  margin-bottom: 0;
  color: rgba(199, 202, 205, 1);
}
a.Link:hover {
  text-decoration: none;
  color: rgba(102, 252, 241, 1);
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  font-size: 24px;
  border-bottom: 2px solid rgba(70, 162, 159, 1);
}
.nav-links {
  background-color: rgba(31, 40, 51, 1);
  border: 1px solid rgba(70, 162, 159, 1);
  border-radius: 10px;
  font-size: 24px;
  padding: 0.25rem;
  height: 3.5rem;
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}
.home.container {
  /* align-items: center; */
  justify-content: center;
  /* flex-wrap: wrap; */
  font-family: 'Open Sans', sans-serif;
}
.home-text {
  margin: 4rem auto;
  font-size: 26px;
  text-align: center;
  color: rgba(199, 202, 205, 1);
  font-family: 'Open Sans', sans-serif;
}
.home-name{
  display:flex;
  justify-content: space-around;
}
.home-report{
  margin-left: .5rem;
}
.home-report:hover{
  color: orange;
}
.home .home-card {
  margin: 0.5rem 0;
  text-align: left;
  border-color: rgba(70, 162, 159, 1);
  font-family: 'Open Sans', sans-serif;
}
.title-bar {
  display: flex;
  justify-content: space-between;
}

.mtn-dropdown {
  text-align: center;
  margin: 5px 0;
  border-radius: 10px;
}
button.btn-outline-info.mtn-dropdown {
  margin: 0.5rem 0;
  background-color: transparent;
}
.mtn-dropdown.show button.btn-outline-info {
  background-color: rgba(70, 162, 159, 1);
}
#mtn-list {
  background-color: rgba(31, 40, 51, 1);
  border-color: rgba(70, 162, 159, 1);
  color: rgba(199, 202, 205, 1);
  text-align: left;
  font-family: 'Open Sans', sans-serif;
}
a.dropdown-item {
  color: rgba(199, 202, 205, 1);
}
a.dropdown-item:hover {
  color: rgba(31, 40, 51, 1);
}
.mountain-list.container{
  text-align: center;
}
.card-img-top {
  object-fit: auto;
  background-color: white;
}

a.mtn-url{
  font-size: .75rem;
  color: rgba(102, 252, 241, 1);
}
.card .card-body {
  padding: 0.75rem;
  background-color: rgba(31, 40, 51, 1);
  font-family: 'Open Sans', sans-serif;
}
.single-mtn .card-shape {
  display:flex;
  
  background-color: rgba(31, 40, 51, 1);
  border: 1px solid rgba(70, 162, 159, 1);
}
div.card-title{
  font-family: 'Open Sans', sans-serif;
}
.single-mtn {
  width: 50%;
}

.my-mtn {
  width: 50%;
}
.weather {
  font-size: 18px;
}
.about {
  color: rgba(199, 202, 205, 1);
  font-family: 'Open Sans', sans-serif;
}
.about-list {
  list-style-type: none;
  
}
.contact {
  /* display: flex; */
  text-align: left;
  margin: 1rem 0;
  border: 1px solid rgba(70, 162, 159, 1);
  
}
.about-list li a {
  color: rgba(102, 252, 241, 1);
  padding-left: 0;
  
}
.api{
  color:rgba(102, 252, 241, 1);
}
.api:hover, .contact-link:hover, .mtn-url:hover{
  color: orange;
}

/* Media Queries */
@media only screen and (min-width: 425px) {
}
@media only screen and (min-width: 765px) {
}
@media only screen and (min-width: 1024px) {
}
