
/* Colors
rgba(11, 13, 16, 1)
rgba(31, 40, 51, .8) 
rgba(199, 202, 205, 1)
rgba(102, 252, 241, 1)
rgba(70, 162, 159, 1)
*/

html {
  
  height: 100%;
}
.App {
  max-width: 1024px;
  height: 100%;
  text-align: center;
 
  color: white;
}
.title {
  text-align: right;
  color: rgba(102, 252, 241, 1);
}
.Link {
  text-decoration: none;
  color: black;
}
.nav-bar {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  border-bottom: 2px solid rgba(70, 162, 159, 1);
  /* background-image: radial-gradient(farthest-corner at 0px 0px, rgba(31, 6, 172, 1), 0.25%, rgba(33, 34, 43, 1)); */
}
.nav-links {
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  font-size: 24px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;

  left: 0.1rem;
  top: 3.5rem;
  z-index: 1000;
}
.home {
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.home-text {
  margin: 4rem auto;
  font-size: 26px;
  text-align: center;
  color: rgba(199, 202, 205, 1);
}
.home-card {
  margin: 0.5rem 0;
}

.mtn-dropdown {
  text-align: center;
  margin: 5px 0;
  background-color: blue;
  border-radius: 10px;
}
button.btn-success.mtn-dropdown {
  background-color: red;
}
.mtn-dropdown.show button.btn-sucess {
  background-color: purple;
}
div.dropdown-menu.mtn.dropdown-list.show {
  background-color: red;
}
#mtn-list {
  /* transform: translate(60px, 45px, 0px); */
  text-align: left;
}
.card-img-top {
  object-fit: cover;
}
.single-mtn {
  width: 50%;
}

.my-mtn {
  border: 1px solid black;
  width: 50%;
}
.weather {
  font-size: 18px;
}
/* Media Queries */
@media only screen and (min-width: 425px) {
}
@media only screen and (min-width: 765px) {
  .nav-links {
    left: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-links {
    left: 2rem;
  }
}
